*{
    margin: 0px;
}

@keyframes fade {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }    
}

.container{
    max-width: 1300px;
    margin: auto;
}

.btn{
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    height: 50px;
    background-color: #4b5e39;
}

.navheading{
    font-weight: bold;
}

.header p{
    margin: auto;
    color: white;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    font-family: 'Poppins', sans-serif;
}

.nav1{
    margin: auto;
    margin-left: 150px;
}
.nav2{
    margin: auto;
}
.nav2 p{
    font-size: 25px;
}
.nav3{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.navitems{
    color: black;
    text-decoration: none;
    margin: 10px;
}

.section1{
    width: 100%;
    height: 90vh;
}

.section1 img{
    width: 100%;
    height: 100%;
}

.page1detail{
    position: absolute;
    top: 300px;
    left: 150px;
    width: 400px;
    
}

.page1detail h1{
    font-size: 45px;
    padding-bottom: 50px;
}

.page1detail a{
    font-size: 20px;
    padding: 20px;
    padding-left: 25px;
    padding-right: 25px;
    text-decoration: none;
    color: black;
    background-color: white;
    text-align: center;
    justify-content: center;
}

.icons{
    width: 20px;
    height: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.navicon{
    padding: 10px;
}
.nav3 a{
    text-decoration: none;
    color: black;
}



.section2{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

#section2div1{
    height: 20%;
    margin: auto;
    width: 550px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
}

#section2div1 p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.section2h1{
    padding-bottom: 20px;
}

#section2div2{
    height: 60%;
    display: flex;
    width: 70%;
    margin: auto;
    align-items: center;
    justify-content: space-around;
    padding-top: 5px;
}


.section2div2div1{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.section2div2div2{
    display: flex;
    flex-direction: column;
    max-width: 300px;
}
.section2div2div3{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    
}

.section2div2h2{
    max-width: 300px;
    text-align: center;
    font-size: 15px;
    padding-bottom: 20px;
}
.section2div2p{
    max-width: 200px;
    text-align: center;
    font-size: 12px;
    line-height: 18px;
}

#section2div3{
    height: 20%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.section2div2img{
    width: 200px;
    height: 200px;
    margin: auto;
    padding-bottom: 20px;
}

.section2div3a{
    text-decoration: none;
    height: 20px;
    color: black;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    margin-top: 0px;
    background-color: #a77858;
}

#section3{
    width: 100%;
    height: 90vh;
    background-color: #eadfce;
    display: flex;
}
#section4{
    width: 100%;
    height: 60vh;
    background-color: #4b5e39;
}


#section3div1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    
    justify-content: center;
}
#section3div2{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.section3div2div{
    width: 60%;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 70px;
}

.section3div1img{
    width: 450px;
    height: 450px;
    padding-left: 70px;
    
}

.section3div2h1{
    padding-bottom: 20px;
}

.section3div2p{
    padding-bottom: 20px;
}

.section3div2a{
    text-decoration: none;
    color: black;
    background-color: #a77858;
    max-width: 100px;
    margin-top: 20px;
    padding: 15px;
    padding-left: 30px;

}

#section5{
    width: 100%;
    height: 90vh;
    display: flex;
}

#section5div1{
    width: 50%;

}
#section5div2{
    width: 50%;
    display: flex;
    
    
}

.section5div2img{
    width: 450px;
    height: 450px;
    margin: auto;
    margin-left: 70px ;
}

#section5div1{
    display: flex;
}

.section5div1div{
    width: 60%;
    margin: auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 70px;
}

.section5div1div h2{
    padding-bottom: 20px;
}

#section4{
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.section4h1{
    color: white;
    padding-top: 20px;
    font-size: 30px;
    
}
.section4p{
    color: white;
    font-family: 'New Rocker', cursive;
    font-size: 20px;
    
}

.section4div{
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section4div pre{
    color: rgb(132, 130, 130);
    font-size: 30px;
}

.section4div pre span{
    color: white;
}
.dwonarrow{
    width: 8px;
    height: 8px;
}

.fade{
    animation: fade 2s ease-in 0s;
}




